<!--Formulario de modificacion de:  producto-->
<div class="modal fade" id="modificar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Modificación de producto</h3>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <!--Formulario para modificar : producto--->
            <div class="modal-body">
                <form *ngFor="let detalle of cargar" >
                    <!----Cuerpo de la carta--->
                    <div class="card-body font-weight-bold">
                        <div class="row">
                            <!----Codigo del producto---->
                            <div class="col-sm-6">
                                <!-- text input -->
                                <div class="form-group">                                    
                                    <div class="form-group">
                                        <label alt="codigo">Código del producto</label>
                                        <input class="form-control" rows="1" placeholder={{detalle.pk_id_producto}}>
                                        <!--
                                        <input [(ngModel)]="detalle.nombre" type="text" class="form-control" name="Código del producto" placeholder={{detalle.pk_id_producto}} > 
                                        -->
                                    </div>
                                </div>
                            </div>
                
                            <!----Nombre del producto--->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label alt="nombredelproducto">Nombre del producto</label>
                                        <input [(ngModel)]="detalle.nombre_producto" type="text" class="form-control" name="Nombre del producto" placeholder={{detalle.nombre}}> 
                                         <!--
                                        <input class="form-control" id="exampleInputPassword1"
                                            placeholder={{detalle.nombre_producto}}>
                                            -->
                                    </div>
                                </div>
                            </div>
                        </div>
                
                       
                        <div class="row">
                             <!----Modelo del producto---->
                            <div class="col-sm-6">
                                <!-- textarea -->
                                <div class="form-group">
                                    <div class="form-group">
                                        <label >Modelo</label>
                                        <input [(ngModel)]="detalle.modelo" type="text" class="form-control" name="Modelo" placeholder={{detalle.modelo}}> 
                                    </div>
                                </div>
                            </div>

                            <!---Marca del producto o calzado---->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label >Marcas</label>
                                        <select #comboBox1 class="custom-select form-control-border" id="exampleSelectBorder" >
                                            <option *ngFor="let ListaMarca of ListaMarca" value="{{ListaMarca.id_Marca}}" >{{ListaMarca.nombre}}</option>
                                            <script comboBox1.[selectedIndex]="detalle.fk_marca" ></script>
                                            <!--
                                                <option *ngFor="let ListaMarca of ListaMarca" placeholder=detalle.fk_marca >{{detalle.fk_marca}}</option>
                                            -->                                                    
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <!---Tipo de persona para el calzado---->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label >Tipo de persona</label>
                                        <select class="custom-select form-control-border" id="exampleSelectBorder">
                                            <option>{{detalle.genero}}</option>
                                            <option>Hombre</option>
                                            <option>Mujer</option>
                                            <option>Niños</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <!---Talla correspondiente para el calzado---->
                            <div class="col-sm-6">
                                <div class="form-group">
                                     <!---Entrada de datos de la talla--->
                                    <label >Talla</label>   
                                    <input [(ngModel)]="detalle.talla" type="text" class="form-control" name="Talla" placeholder={{detalle.talla}}> 
                                </div>
                            </div>
                        </div>
                
                        <!----Categorias del calzado---->
                        <div class="form-group">
                            <label >Categoría</label>
                            <select class="custom-select form-control-border" id="exampleSelectBorder">
                                <option alt="cargarcategoria">{{detalle.fk_nombre_categoria}}</option>
                            </select>
                        </div>
                        
                        <!----Descripcion del producto o calzado---->
                        <div class="form-group">
                            <label>Descripción del producto</label>
                            <textarea class="form-control" rows="3" placeholder="Descripcion">{{detalle.descripcion}}</textarea>
                        </div>
                        
                        <!----Costo del producto---->
                        <div class="row">
                            <div class="col-sm-6">
                                <!-- Entrada de texto del costo -->
                                <div class="form-group">
                                    <div class="form-group">
                                        <i class="fa-solid fa-dollar-sign"></i><label>_Costo Unitario</label>
                                        <input [(ngModel)]="detalle.costo" type="text" class="form-control" name="Costo" placeholder={{detalle.costo}}> 
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <!----Boton o check para ver si hay ofertas o no---->
                                <div class="form-group">
                                    <label>Seleccionar</label>
                                    <div class="custom-control custom-switch custom-switch-off-danger custom-switch-on-success">
                                        <input type="checkbox" class="custom-control-input" id="switchoferta">
                                        <label class="custom-control-label" for="switchoferta">Oferta</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-----Cargar imagen desde FIREBASE---->
                        <div class="form-group">
                            <label >Cargar Imagen</label>
                            <textarea class="form-control" rows="1" placeholder="Cargar Imagen">{{detalle.img}}</textarea>                           
                        </div>               
                    </div> <!----Fin del cuerpo de la carta-->
                    
                    <!----Botones para interactuar-->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Registrar</button>
                    </div>
                </form>
            </div>
        </div>
        <!--FIN del Formulario para modificar : producto--->
    </div>
</div>